@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using Thrift_Us.Models
@using Thrift_Us.Services.Interface
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IOrderService _orderServices
@inject IProductService _productServices
@inject IRentalOrderService _rentalorderServices
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
@{
    ViewBag.Title="Dashboards";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}
   <div class="jumbotron">
        <h1 class="display-4">Hello!! Seller</h1>
        <p class="lead">This is the thrift e-commerce admin panel. We welcome you here.</p>
    </div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100 border bg-success shadow rounded-5">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Total Orders</h5>
                    <p class="card-text fs-1 text-center text-light font-weight-bold">
                        @_orderServices.GetOrdersAsync(UserManager.GetUserId(User), "status").Result.Count()
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 border bg-warning shadow rounded-5">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Total Products</h5>
                    @{
                        // Assuming you can access the userId from the claims
                        var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                    }
                    <p class="card-text fs-1 text-center text-light"> @((await _productServices.GetAllProducts(userId)).ToList().Count)</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 border bg-danger shadow rounded-5">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Total Rental Orders</h5>
                    <p class="card-text fs-1 text-center text-light font-weight-bold">
                        @_rentalorderServices.GetOrdersAsync(UserManager.GetUserId(User), "status").Result.Count()
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>





@if (TempData["ResultOk"] != null)
{
    <dialog open>
        <form method="dialog">
            <h1 class="alert-success">@TempData["ResultOk"]</h1>
            <button type="submit">OK</button>
        </form>
    </dialog>
}
<style>
    .jumbotron {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>